@import "src/res/style/utils";

#left {
  @include itemTheMiddle;

  .left__img-box {
    width: auto !important;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 6px 20px 2px rgba(57, 57, 57, 0.3);
    @include itemTheMiddle;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@include mobile {
  #left {
    width: 100%;
    height: 426px;
  }
  .left__img-box {
    min-width: 200px;
    max-width: 320px;
  }
}

@include tablet {
  #left {
    width: 100%;
    height: 533px;
    .left__img-box {
      min-width: 300px;
      max-width: 400px;
    }
  }
}

@include desktop {
  #left {
    width: 50%;
    height: 100%;

    .left__img-box {
      min-width: 400px;
      max-width: 600px;
    }
  }
}
