@import "src/res/style/utils";

@keyframes move {
  0% {
    margin-left: 10px;
  }
  100% {
    margin-left: 20px;
  }
}

#right {
  @include itemTheMiddle;

  .right__text-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;

    .right__text-name {
      font-size: 35px;
    }

    .right__text-description {
      position: relative;
      font-size: 25px;
      cursor: pointer;

      .page_move {
        position: absolute;
        animation: move 0.3s linear 0s infinite alternate;
        margin: 0px 0px 0px 10px;
      }
    }
  }

}

@include mobile {
  #right {
    width: 100%;
    height: 50%;
  }
}

@include tablet {
  #right {
    width: 100%;
    height: 50%;
  }
}

@include desktop {
  #right {
    width: 50%;
    height: 100%;
  }
}
